<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Always there testing</title>
</head>
<body>
	<h1><%=title%></h1>
	<ul>
		<%for(var i=0;i<list.length;i++){%>
		<li>
			<a href='javascript:void(0)'><%=list[i]%></a>
		</li>
        <%}%>
	</ul>
</body>
</html>